@font-face {
  font-family: "Geist";
  src:
    local("Geist"),
    url("../fonts/Geist-Medium.woff") format("woff"),
    url("../fonts/Geist-Medium.eot") format("embedded-opentype"),
    url("../fonts/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src:
    local("Geist"),
    url("../fonts/Geist-SemiBold.woff") format("woff"),
    url("../fonts/Geist-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    local("Unbounded"),
    url("../fonts/Unbounded-Bold.woff") format("woff"),
    url("../fonts/Unbounded-Bold.eot") format("embedded-opentype"),
    url("../fonts/Unbounded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    local("Unbounded"),
    url("../fonts/Unbounded-SemiBold.woff") format("woff"),
    url("../fonts/Unbounded-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Unbounded-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}