/* ===================================== RESET ===================================== */
/* ===================================== RESET ===================================== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}


/* ===================================== FONTS ===================================== */
/* ===================================== FONTS ===================================== */

@font-face {
  font-family: "Geist";
  src:
    local("Geist"),
    url("../fonts/Geist-Medium.woff2") format("woff2"),
    url("../fonts/Geist-Medium.woff") format("woff");
  /* url("../fonts/Geist-Medium.eot") format("embedded-opentype"), */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src:
    local("Geist"),
    url("../fonts/Geist-SemiBold.woff2") format("woff2"),
    url("../fonts/Geist-SemiBold.woff") format("woff");
  /* url("../fonts/Geist-SemiBold.eot") format("embedded-opentype"), */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    local("Unbounded"),
    url("../fonts/Unbounded-Bold.woff2") format("woff2"),
    url("../fonts/Unbounded-Bold.woff") format("woff");
  /* url("../fonts/Unbounded-Bold.eot") format("embedded-opentype"), */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src:
    local("Unbounded"),
    url("../fonts/Unbounded-SemiBold.woff2") format("woff2"),
    url("../fonts/Unbounded-SemiBold.woff") format("woff");
  /* url("../fonts/Unbounded-SemiBold.eot") format("embedded-opentype"), */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* ===================================== GENERAL ===================================== */
/* ===================================== GENERAL ===================================== */

:root {
  --font-family: "Geist", sans-serif;
  --second-family: "Unbounded", sans-serif;
}

body,
html {
  font-family: var(--font-family);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  background-color: black;
  background-image: url("../images/backgound-desk.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}

.container {
  max-width: 1440px;
  padding: 0 20px;
  height: 100%;
  margin: 0 auto;
}


@media(max-height: 700px) {
  .wrapper {
    height: auto;
  }

  .main__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* ===================================== HEADER ===================================== */
/* ===================================== HEADER ===================================== */

.header__logo {
  margin-top: 5px;
  margin-left: 40px;
  display: block;
  width: 151px;
  height: 55px;
}

@media(max-width: 850px) {


  .header__logo {
    margin-left: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 120px;
    height: 44px;
  }

  .header__logo svg {
    width: 120px;
    height: 44px;
  }
}

/* ===================================== MAIN ===================================== */
/* ===================================== MAIN ===================================== */

.main__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__left {
  max-width: 600px;
  margin-right: 30px;
}

.main__poster-container {
  overflow: hidden;
  max-width: 396px;
  max-height: 198px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.main__poster-container img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.main__title {
  overflow-wrap: break-word;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: clamp(30px, 2.1vw, 40px);
  color: #fff;
}

.main__desc {
  font-weight: 500;
  font-size: clamp(20px, 1.3vw, 25px);
  color: #fff;
  opacity: 0.7;
  margin-bottom: 30px;
}

.main__price {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;

  padding: 20px 140px;
  background: radial-gradient(62.3% 295.45% at 49.44% 50.76%, #bc1600 0%, rgba(56, 7, 0, 0) 81.44%, rgba(0, 0, 0, 0) 100%);
  white-space: nowrap;
  position: relative;
}

.main__price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  background: radial-gradient(62.3% 295.45% at 49.44% 50.76%, #FF1D00 0%, rgba(56, 7, 0, 0) 81.44%, rgba(0, 0, 0, 0) 100%);
}

.main__price::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  background: radial-gradient(62.3% 295.45% at 49.44% 50.76%, #FF1D00 0%, rgba(56, 7, 0, 0) 81.44%, rgba(0, 0, 0, 0) 100%);
}

.main__right {
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  max-width: 600px;
}

.main__form {
  display: flex;
  flex-direction: column;
}

.main__form-mail-text {
  font-weight: 500;
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  margin-bottom: 5px;
}

.main__form-mail-input {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  background: #f6f6f6;
  width: 100%;
  margin-bottom: 20px;
}

.main__form-mail-input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #000;
  opacity: 0.4;
}

.main__form-button {
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #f91d00;
  margin-bottom: 20px;
}


.main__form-checkbox {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.main__form-checkbox-container {
  position: relative;
}

.main__form-checkbox-input {
  margin-right: 10px;
  appearance: none;
  border-radius: 5px;
  padding: 2px;
  width: 19px;
  height: 19px;
  border: 1px solid #f91d00;
  flex-shrink: 0;
}

.main__form-checkbox-checked {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
}

.main__form-checkbox-input:checked {
  background: #f91d00;
}

.main__form-checkboxk-text {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
}

.main__cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main__cards-text {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  margin-right: 10px;
}

.main__acc {
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  background: rgba(0, 0, 0, 0.05);
}

.main__acc-head {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__acc-head-text {
  font-weight: 500;
  font-size: 15px;
  color: #000;
  opacity: 0.4;
}

.main__acc-head-button {
  width: 24px;
  height: 24px;
}

.main__acc-content {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

.main__acc-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  opacity: 0.8;
}

@media(max-width: 850px) {
  .wrapper {
    height: auto;
  }

  .main {
    padding-top: 20px;
  }

  .main__inner {
    flex-direction: column;
  }

  .main__left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    max-width: 374px;
    margin-bottom: 50px;

  }

  .main__poster-container {
    max-width: 374px;
    max-height: 187px;
    overflow: hidden;
  }

  .main__price {
    white-space: wrap;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .main__right {
    max-width: 374px;
    margin-bottom: 20px;
  }
}

@media(max-width: 370px) {
  .main__title {
    font-size: 27px;
  }
}

@media(max-width: 330px) {
  .main__title {
    font-size: 25px;
  }
}

/* ===================================== FOOTER ===================================== */
/* ===================================== FOOTER ===================================== */

.footer {
  padding: 10px 0;
}

.footer p,
.footer a {
  opacity: 0.7;
  display: block;
}

.footer__inner {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #fff;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media(max-width: 850px) {
  .footer .container {
    padding: 0 10px;
  }

  .footer__inner {
    flex-direction: column-reverse;
  }

  .footer__separator {
    background: #fff;
    opacity: 0.2;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer__left,
  .footer__right {
    align-items: center;
  }
}